<section id = "chat">
    <div id = "otherUser">
    </div>
    <div id = "thisUser">
    </div>
    <form>
        <input type = "text" name = "message">
        <button>Send</button>
    </form>
</section>