
<h1 id ="homeHeading">Codeial <%=title%></h1>
<section id = "homeContainer">
    <section id="posts">
        <% if(locals.user){ %>
        <form action ="/post/create" method ="POST">
            <textarea placeholder="Type Here..." required cols="30" rows="3" name ="content"></textarea>
            <input type="Submit" value = "Post">
        </form>
        <% } %>
    
        <section id="postContainer">
            <ul>
                <% for(post of posts){ %>
                    <%-include('./_post')-%>
                <%}%>
            </ul>
        </section>
    </section>
    <section id="Friends">
        <h2>
            Friends
        </h2>
        <ul>
            <% for(u of allUsers){%>
                <li>
                    <a href = "/user/profile/<%=u.id%>"><%=u.name%></a>
                </li>
            <%}%>
        </ul>
    </section>
</section>

