
	<section id = "auth-sec">
		<form action = "/user/reset-password" method = "POST" id ="auth-form">
			<input type="email" name="email" placeholder ="E-mail" required>
			<button type ="submit" id ="auth-btn">Submit</button>
		</form>
	</section>
