
	<section id = "auth-sec">
		<form action = "/user/create-session" method = "POST" id ="auth-form">
			<input type="email" name="email" placeholder ="E-mail" required>
			<input type="password" name ="password" placeholder= "Password" required>
			<div>
				<a href="/user/reset-password"><small>forget-password</small></a>
				<a href ="/user/auth/google"><small>signin with Google</small></a>
			</div>
			<button type ="submit" id ="auth-btn">Sign In</button>
		</form>
		
	</section>
