
	<section id = "auth-sec">
        <% if(locals.accessToken){ %>
            <form action = "/user/update-password/<%= locals.accessToken %>" method = "POST" id ="auth-form">
                <input type="password" name ="password" placeholder= "Password" required>
                <input type="password" name ="confirmPassword" placeholder= "Confirm Password" required>
                <button type ="submit" id ="auth-btn">Update</button>
            </form>
		<% }else{ %>
            <h1>OOPs! link expired</h1>
        <% } %>
	</section>
