<html>
    <head>
        <title>
            Profile
        </title>
    </head>
    <body>
        <h1>User Profile</h1>

<!-- since passport.setAutherizedUser middle ware has made user available in views we can directly access it -->
        <p>
            <%= thisUser.name%>
        </p>
        <p>
            <%= thisUser.email%>
        </p>

        <%if(user.id == thisUser.id){%>
            <form action ="/user/update/<%= thisUser.id%>" method = "POST">
                <input type="text" name="name" required placeholder="Update Name">
                <input type="email" name="email" required placeholder="Update email">
                <button>Submit</button>
            </form>
        <%}%>
    </body>
</html>