body{
	margin: 0;
	height: 100vh;
}

section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 45vh;
	width: 100%;
}

form{
	height: 100%;
	width: 30vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: lightgrey;
}

input{
	width: 25vw;
	font-size: 1.3rem;
	margin-bottom: 10px;
	line-height: 1.5rem;
	border: 0px solid black;
	outline: none;
	padding:0.2rem;
}

button{
	padding: 0.5rem;
	font-size: 1rem;
	margin-top: 1rem;
}