<h1>Reset Password</h1>
<p>Hi, Click on the link below to reset your password, It is for 15 minutes only</p>
<a href = "http://localhost:8000/user/change-password/<%=accessToken%>">reset-password</a>
<p>Thanks</p>